.composition {
  position: relative;

  &__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0,0,0, .4);
    border-radius: 2px;
    position: absolute;

    &--pt3 {
      left: 0;
      top: -2rem;
    }

  }

}